body{
  background-image: linear-gradient(to right, #8fb7a9, #43554f);
  color: rgb(255, 255, 255);
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  margin: 0;
}
h1{
  font-size: 60px;
  margin-top: 0;
}
p{
  max-width: 750px;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.specifik{
  background-color: rgb(182, 182, 163);
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 2px;
  padding-top: 2em;
}
.global_menu{   /*This is the design and code for the global menu navigation bar*/
  background-image: linear-gradient(to right, #44564f, #1f2824); /*This makes the navigation bar dark green*/
  overflow: hidden;
  position:sticky;
  top:0;
  transition: 
    width      0.5s,
}
.global_menu a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding:20px 30px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.global_menu a:hover {
  background-color: white;
  color: black;
  width: 300px;
}

/* Add a color to the active/current link */
.global_menu a.active {
  background-color: rgb(68, 79, 58);
  color: white;
}
.Teknikum{
  width: 700px;
  height: 300px;
}

.schema{
  width: 700px;
  height: 300px;
}

.indented{
  font-size: x-small;
  max-width: 400px;
  list-style-type: none;
}
.next{
  border-style:solid;
  border-width: 1em;
  background-color: rgb(159, 159, 144);
  border-color: rgb(159, 159, 144);
  max-width: 150px;
  text-align: center;
  font-size: larger;
  margin: 2em auto 0 auto;
  border-radius: 10px;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.next1{
  border-style:solid;
  border-width: 1em;
  background-color: rgb(159, 159, 144);
  border-color: rgb(159, 159, 144);
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

.ul{
  border-width: 5px;
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(159, 159, 144);
  background-color: rgb(159, 159, 144);
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}
.footer{
  color: rgb(228, 228, 228);
  max-width: 500px;
  border-style:solid;
  border-width: 10px;
  background-color: rgb(159, 159, 144);
  border-color: rgb(159, 159, 144);
  border-radius: 10px;
}
table{
  margin: 0 auto;
  border: 1px solid black;
}
th,td{
  width: 100px;
  height: 50px;
}
th{
  background-color: #bdc9c1;
  
}