body{
  background-image: linear-gradient(to right, #8fb7a9, #43554f);
  color: rgb(255, 255, 255);
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}
h1{
  font-size: 60px;
}

.ul{
  border-width: 5px;
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(159, 159, 144);
  background-color: rgb(159, 159, 144);
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}
.specifik{
  background-color: rgb(182, 182, 163);
  max-width: 1000px;
  margin: 0 auto;
}
.global_menu{   /*This is the design and code for the global menu navigation bar*/
  background-image: linear-gradient(to right, #44564f, #1f2824); /*This makes the navigation bar dark green*/
  overflow: hidden;
  position:sticky;
  top:0;
  transition: 
    width      0.5s,
}
.global_menu a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.global_menu a:hover {
  background-color: white;
  color: black;
  width: 300px;
}

/* Add a color to the active/current link */
.global_menu a.active {
  background-color: rgb(68, 79, 58);
  color: white;
}
.Teknikum{
  width: 700px;
  height: 300px;
}

.skola{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.schema{
  width: 700px;
  height: 300px;
}

.indented{
  font-size: x-small;
  max-width: 400px;
  list-style-type: none;
}